.clients__title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__icon {
  fill: $main-icon-fill;
  .clients__item:hover &,
  .clients__item:focus & {
    fill: $accent-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 60px) / 2);
  height: 92px;
  margin: 15px;
  outline: 1px solid;
  border-radius: 4px;
  width: 100%;

  @media screen and (min-width: 768px) and (max-width: 767.98px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
  &:hover,
  &:focus {
    outline: 1px solid $accent-color;
  }
}
