.work{
  @media screen and (max-width:1199.98px) {
    display:none;
  }
}
.work__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
}
.work__list {
  display: flex;
}
.work__item {
  position: relative;
  margin-right: 30px;

  &:last-child {
  margin-right: 0;
}
}

.work__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  font-family: $primary-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  padding: 27px 82px;
  color: var(--whiteF-cl);
  background-color: $service-overlay-bgc;
  letter-spacing: 0.03em;
}